---
layout: page
title: Contact
titleBefore:
titleAfter:
meta: "Contact information"
author:
image:
keywords:
priority: 1.0
sectionClass:
includeInNavigation: true
weight: 5
---

{% assign info = site.data.contact %}

{% if info.include-google-map %}
  {% include map-and-text.html %}
{% else %}
  {% include just-text.html %}
{% endif %}

<script src="{{ site.baseurl }}/assets/js/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ site.google-api-key }}&callback=initMap"></script>
