<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.titleBefore %}{{page.titleBefore}} · {% endif %}{% if page.title %}{{page.title}} · {% endif %}Janina Mohr{% if page.titleAfter %} · {{page.titleAfter}}{% endif %}</title>

  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <meta name="description" content="{{ page.meta }}">
  <meta name="author" content="{{ page.author }}">

  <meta property="og:title" content="{% if page.titleBefore %}{{page.titleBefore}} · {% endif %}{% if page.title %}{{page.title}} · {% endif %}Janina Mohr{% if page.titleAfter %} · {{page.titleAfter}} {% endif %}">
  <meta property="og:image" content="{{ page.image }}">
  <meta property="og:description" content="{{ page.meta }}">

  <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
  <!-- Google font: PT Sans (Normal 400, Normal 400 Italic, Bold 700) -->
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
  <link href="favicon.ico" rel="shortcut icon">

</head>

<body>

  {% include header.html %}

  <main>

    {{ content }}

  </main>

  {% include footer.html %}

  <script src="{{ site.baseurl }}/assets/js/jquery-1.12.3.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/main.js"></script>
  <script src="{{ site.baseurl }}/assets/js/map.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ site.google-api-key }}&callback=initMap"></script>
  {% include analytics-tracking.html %}

</body>

</html>

